:root {
    --colbg: #111111;
    --colfg: #e6e6e6;
    --colfoot: rgba(50, 50, 50, 0.75);
    --collnk: #8538f7;
    --mrgnhead: 5%;
}
body {
    background: var(--colbg);
    color: var(--colfg);
    font-family: Helvetica, Arial;
    margin: 0px;
}
.greet {
    display: flex;
    justify-content: right;
    align-items: center;
}
.greet h2 {
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to bottom right, #8538f7, #a714fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: var(--mrgnhead);
    margin-right: auto;
    margin-bottom: var(--mrgnhead);
    margin-left: var(--mrgnhead);
}
.greet img {
    border-radius: 30%;
    width: 80px;
    height: 80px;
    margin-top: var(--mrgnhead);
    margin-right: var(--mrgnhead);
    margin-bottom: var(--mrgnhead);
    margin-left: auto;
}
.about {
    font-size: 24px;
    margin: 8%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.links{
    display: flex;
    gap: 30px;
    padding-left: 30px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: var(--colfoot);
    color: var(--colfg);
    padding: 20px;
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.footer img {
    width: 40px;
    height: 40px;
}
.footer p {
    margin: 20px;
}
